<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Overview", "Index", "Config")</li>
        <li>@Html.ActionLink("Options", "Options", "Config")</li>
        <li>@Html.ActionLink("Businesses", "Businesses", "Config")</li>
        <li>@Html.ActionLink("Signup tickets", "SignupTicketList", "Config")</li>
    </ul>
</div>
