@model DigitalSignageAdapter.Models.Config.RolesOverview

@{
    ViewBag.Title = "Roles and permissions";
}

@Html.Partial("_SubNavBar")

<h2>List of Roles and Permissions</h2>
<hr />
@using (Html.BeginForm("RolesOverview", "Config", FormMethod.Post, new { @class = "role-form" }))
{
    <fieldset>
        <table class="roles-overview">
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Model.Roles[i].Name + " »", "RoleEditor", new { roleId = Model.Roles[i].Id }, new { @class = "btn btn-default" })
                    </td>
                    <td>
                        @if (Model.Roles[i].Permissions != null)
                        {
                            for (int j = 0; j < Model.Roles[i].Permissions.Count; j++)
                            {
                                @Html.ActionLink(Model.Roles[i].Permissions[j].Description, "RoleEditor", new { roleId = Model.Roles[i].Id }, new { @class = "btn btn-default" })
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </fieldset>
    <p />
    <div class="well well-sm">
        <a class="btn btn-primary" href="@Url.Action("RoleEditor")">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New Role
        </a>
    </div>
}


